body {
  background: #FFFAF5;
  padding-bottom: 150px;
}

div.module, div.chart, div.report {
	border-color: #006600; 
	border-style: solid;
	border-width: 1px;
	background: #FDDDAD;
	padding: 3px;
	margin: 2px;
}

div.module table tr td {
  padding-right: 5px;
  padding-left:  5px;
  padding-top:   1px;
  padding-bottom:1px;
}

div.module table tr td.mod_line_date {
  padding-left: 15px;
  color:   #667766;
}

div.module table tr td.mod_line_desc {
  color: #666677;
}

div.module table tr td.mod_line_val {
  color: #776666;
}

div.module h3.mod_headline, div.report h3.report_head, div.chart h3.chart_headline {
  margin-top:2px;
  margin-left:2px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15pt;
  color: #222222;
}

div.module h4.mod_subhead {
  margin-top:2px;
  margin-left:2px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 12pt;
  color: #444444;
}

div.module div.mod_subsec, div.report div.rpt_subsec {
  border-color: #D0B080;
  border-style: dotted;
  border-width: 1px;
  background: #FFEBBB;
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  color: #666666;
  font-weight: 600;
  font-size: 10pt;
}

div.module p.mod_description {
  border-color: #D0B080;
  border-style: dotted;
  border-width: 1px;
  background: #FFEBBB;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
  padding: 2px;
  color: #333333;
  font-weight: 600;
  font-size: 10pt;
}

div.module div.mod_subsec div.chart_link_div{
  display: inline;
}

div.module div.mod_subsec div.chart_link_div a.chart_link, div.module div.mod_subsec div.report_link_div a.report_link {
  color: #666666;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  display: inline;
} 

div.module div.mod_subsec div.chart_link_div a.chart_link p.chart_link_desc, div.module div.mod_subsec div.report_link_div a.report_link p.report_link_desc {
  visibility: hidden; 
  position: absolute;
  top: -100px;
}

div.module div.mod_subsec div.chart_link_div a.chart_link:hover p.chart_link_desc, div.module div.mod_subsec div.report_link_div a.report_link:hover p.report_link_desc {
  top: 5px;
  left: 5px;
  visibility: visible; 
  margin-left: 5px; 
  background: #fafafa; 
  border: 1px solid #aa8888; 
  width: 250px;
  color: #aa8888; 
  padding: 10px;
  line-height:1.2em;
  text-align: left;
  font-variant: normal;
  font-style: normal;
  text-decoration: none;
  z-index: 300;
}

div.module div.mod_subsec div.chart_link_div a.chart_link img.chart_link_prev {
  margin-top: 5px;
}

div.back_link_div {
  background: #fafafa;
  border: 1px solid #aa8888;
  position: absolute;
  padding: 3px;
  margin:5px;
  left: 0px;
  bottom: 0px:
}

div.back_link_div a.back_link {
  color: #aa8888;
  line-height:1.2em;
  text-align: left;
  font-variant: normal;
  font-style: normal;
  text-decoration: none;
}

div.chart {
  overflow:auto;
  padding:10px;
  text-align: center;
  width: 820px;

}

div.report {
/*  width:400px;*/
}

div.report div.rpt_subsec {
  width:350px;
  padding: 10px
}

div.report div.rpt_subsec table.report_table {
  width: 100%;
}

div.report div.rpt_subsec table.report_table tr.report_line td {
  padding:2px;
  padding-left:5px;
  padding-right:5px;
}

div.report div.rpt_subsec table.report_table tr.report_head {
background: #FFb696;
}

div.report div.rpt_subsec table.report_table tr.report_line td.report_val {
  text-align:right;
}

div.report div.rpt_subsec table.report_table tr.report_line {
  background: #FDDDAD;
}
div.report div.rpt_subsec table.report_table tr.report_line:hover {
  background: #FFb696;
}

div.small_set {
  border-color: #D0B080;
  border-style: dotted;
  border-width: 1px; 
  padding: 8px;
  position:relative;
  width:660px;  
}

div.small_set div.module {
  margin:2px;
  background: #FFEBBB;
  position:relative;
  height:135px;
  overflow:hidden;
  text-align:center;
}

div.small_set div.module {
  height:155px;
}

div.small_set div.module h3.mod_headline{
  font-size: 11pt;
}

div.small_set div.module ul.val_list{
  margin:0;
  margin-left:9px;
  padding:0;
}

div.small_set div.module li.val_elm{
  float:left;
  list-style:none;
  padding:0;
  margin:0;
}


div.small_set div.module a.mod_small_link {
  text-decoration: none;  
  background: #F8DDAD;
  display: block;
  position: relative;
  width: 305px;
  height: 100px;
  border: 1px solid #aa8888;
  margin: 3px;
}

div.small_set div.module#windsSmall_2 a.mod_small_link, div.small_set div.module#regenSmall_3 a.mod_small_link {
  width: 618px;
  height: 120px;
}

div.small_set div.module#innenSmall_1 a.mod_small_link {
  width: 200px;
}

div.small_set div.module a.mod_small_link:hover {
  background: #FFeebb;
}

div.small_set div.module a.mod_small_link div.mod_header{
  background: #F0D0AF;
}

div.small_set div.module a.mod_small_link div.mod_header h4{
  margin:0px;
  padding:2px;
  font-size:10pt;
  font-weight:900;
  color: #222255;
}

div.small_set div.module a.mod_small_link div.mod_body {
  position:absolute;
  bottom:0px;
  top:0px;
  height:100%;
  width:100%;
}
div.small_set div.module a.mod_small_link div.mod_body span.mod_now {
  font-size: 17pt;
  font-weight: 600;
  color: #225522;
  display:block;
  padding-bottom:3pt;
  padding-top:26pt;
}
div.small_set div.module#windsSmall_2 a.mod_small_link div.mod_body span.mod_now, div.small_set div.module#regenSmall_3 a.mod_small_link div.mod_body span.mod_now {
  font-size: 17pt;
  padding-top:20pt;
  padding-bottom:0pt;
}
div.small_set div.module a.mod_small_link div.mod_body span.mod_now_extra {
  font-size: 8pt;
  padding-top:0pt;
  padding-bottom:3pt;
  color: #446644;
  display:block;
  margin:0px;
}
div.small_set div.module a.mod_small_link div.mod_body span.mod_av {
  font-size: 11pt;
  color: #446644;
  position:absolute;
  display:block;
  width:100%;
  text-align:center;
  bottom:19px;
}

div.small_set div.module#windsSmall_2 a.mod_small_link div.mod_body span.mod_av, div.small_set div.module#regenSmall_3 a.mod_small_link div.mod_body span.mod_av {
  bottom:21px;
}

div.small_set div.module a.mod_small_link div.mod_body, div.small_set div.module a.mod_small_link div.mod_footer{
  text-align: center;
}

div.small_set div.module a.mod_small_link div.mod_footer {
  position:absolute;  
  bottom:0px;
  width: 100%;
  background:#F0D0AF;
}

div.small_set div.module a.mod_small_link div.mod_footer span{
  font-size:9pt;
}

div.small_set div.module a.mod_small_link div.mod_footer span.mod_max {
  color: #AA3333;
  margin-right:6px;
}
div.small_set div.module a.mod_small_link div.mod_footer span.mod_min {
  color: #33AA33;
  margin-left:6px;
}
div.small_set div.module#windsSmall_2 a.mod_small_link div.mod_footer span.mod_min, div.small_set div.module#regenSmall_3 a.mod_small_link div.mod_footer span.mod_min {
  color: #AA3333;
}

