body {
  background: #FFFAF5;
}

div.module {
	border-color: #006600; 
	border-style: solid;
	border-width: 1px;
	background: #F0D0A0;
	padding: 3px;
	margin: 2px;
}

div.module table tr td {
  padding-right: 5px;
  padding-left:  5px;
  padding-top:   1px;
  padding-bottom:1px;
}

div.module table tr td.mod_line_date {
  padding-left: 15px;
  color:   #667766;
}

div.module table tr td.mod_line_desc {
  color: #666677;
}

div.module table tr td.mod_line_val {
  color: #776666;
}

div.module h3.mod_headline {
  margin-top:2px;
  margin-left:2px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15pt;
  color: #222222;
}

div.module h4.mod_subhead {
  margin-top:2px;
  margin-left:2px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 12pt;
  color: #444444;
}

div.module div.mod_subsec {
  border-color: #D0B080;
  border-style: dotted;
  border-width: 1px;
  background: #FFDFAF;
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  color: #666666;
  font-weight: 600;
  font-size: 10pt;
}

div.module p.mod_description {
  border-color: #D0B080;
  border-style: dotted;
  border-width: 1px;
  background: #FFDFAF;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
  padding: 2px;
  color: #333333;
  font-weight: 600;
  font-size: 10pt;
}
